.idea/
*.pyc
*.mp3
cookies
.idea
*.pyc
data.cfg
*.mp3
*.pkl
*.xls
*.xml
*.csv
*.pkl
~$d.xlsx
d.xlsx
data/
temp
request_header
header_toolkit.txt
*.xlsx
*.log
__pycache__/
wikizhword.text
news_tensite_xml.dat
news_tensite_xml.smarty.dat
*.jpg
Download/
Download_IMG/
*.zip
cookies
config.json
config.py
data.cfg
setting.py
setttings.py
*.ts
kc0011/jobs/requests.queue/p1
kc0011/jobs/requests.queue/p0
kc0011/jobs/requests.queue/active.json
kc0011/jobs/spider.state
kc0011/jobs/requests.seen
*.jpg
*.png
*.jpeg
configure/
